<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>showing a particular comment</h1>

    

    <h2> Id is: <%= foundComment.id %>  </h2>
    <h3> Name is: <%= foundComment.username %>   </h3>
    <h4> Comment is: <%= foundComment.comment %>   </h4>
    
    
</body>
</html>