<!-- addingheader.ejs -->
<%- include('./partials/header') %>

    <button id="btn">click me plz !!</button>
    
    <h1>hi i am your index.ejs file</h1>
    <p>
        happy learning templating routes
    </p>
    
<%- include('./partials/footer') %>    
<!-- adding footer.ejs -->
    