<!-- addingheader.ejs -->
<%- include('./partials/header') %>

    <h1> your todo list is below </h1>
    
    <% for(let i of todoos){ %>
        <h3> your task is: <%= i %> </h3>
    <% } %>
    
<%- include('./partials/footer') %>    
<!-- adding footer.ejs -->